<div class="user-index-page simple-display-page">
  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <%= link_to 'New User', new_user_path, class: "admin-buttons simple-display-page-button" %>

  <hr />

  <% @users.each do |user| %>
  <div class="row simple-display-page-row">
    <div class="col-md-6">
      <span><%= user.first_name %>&nbsp<%= user.last_name %></span>
      <p><%= user.email %></p>
    </div>
    <div class="col-md-2">
      <%= link_to 'Show', user, class: "admin-buttons simple-display-page-row-button" %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Edit', edit_user_path(user), class: "admin-buttons simple-display-page-row-button" %>
    </div>
    <div class="col-md-2">
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "admin-buttons simple-display-page-row-button" %>
    </div>
  </div>
  <hr />
  <% end %>

</div>
