<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :post_title, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :subtitle %>
      <%= form.text_field :subtitle, id: :post_subtitle, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :imageurl %>
      <%= form.text_field :imageurl, id: :post_imageurl, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :post_body %>
      <div class="post-body-edit-field">
        <%= form.text_area :post_body, as: :wysihtml5, class: "wysihtml5" %>
      </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function(){

      $('.wysihtml5').each(function(i, elem) {
        $(elem).wysihtml5();
      });

    })
    </script>
  </div>
  <!-- end col -->

  <div class="col-md-4">
    <h1>Categories</h1>
    <% @categories.each do |category| %>
    <%= form.radio_button(:category_id, category.id) %>
    <%= form.label(:category_id, category.name) %>
    <% end %>

    <h1>Tags</h1>
    <% @tags.each do |tag| %>
    <%= check_box_tag('tags[]', tag.name, Post.tag_exists(tag.name, post ? post.id : -1)) %> <!-- in model, make method that takes tag name and project id and returns 'true' if it exists on project -->
    <%= label_tag(:tags, tag.name) %>
    <% end %>
  </div>
</div>

<div class="actions">
  <%= form.submit "Create Post", class: "admin-buttons" %>
</div>
<% end %>
