<div class='col-md-6 individual-post-display post-link'>
  <% if post.imageurl %>
  <%= image_tag(post.imageurl, class: 'img-responsive post-image') %>
  <% end %>
  <h2><%= post.title %></h2>
  <div class='caption'>
    <h4 class=''>"<%= post.subtitle %>"</h4>
  </div>
  <% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_post_path(post), :"data-turbolinks" => false, :class => "admin-buttons post-index-admin-buttons" %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "admin-buttons post-index-admin-buttons" %>
  <% end %>
</div>
