<p id="notice"><%= notice %></p>

<h1 class='post-title'>
  <%= @post.title %>
</h1>

<h2 class='post-subtitle'>
  <%= @post.subtitle %>
</h2>

<div class='post-category'>
  <h3>Category: </h3>
  <p><%= link_to @post.category.name, posts_path(:category_id => @post.category.id) %></p>
  </div>

  <div class='post-tags'>
    <h4>Tags: </h4>
    <% @post.tags.each do |tag| %>
    <p><%= link_to tag.name, posts_path(:tag_id => tag.id) %></p>
    <% end %>
  </div>

  <p class='post-body'>
    <%= raw(@post.post_body) %>
  </p>

  <%= render 'new_comment' %>

  <%= render 'comments' %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
